.content-form-budget,
.content-form-expense {
  padding: 1em 2em;
  border: 1px solid;
  margin-bottom: 2em;
  border-radius: 20px;
}
.content-form-budget {
  border-color: green;
}
.content-form-expense {
  border-color: #dc3545;
}
.budget-icon {
  font-size: 54px;
  color: #090998;
}
h4.budget,
h4.balance {
  color: green;
}
h4.expense {
  color: red;
}
.box-numbers h4 {
  font-size: 35px;
  font-weight: 400;
}
.box-numbers {
  text-align: center;
  color: #6b6868;
}
.expense-icons a {
  color: gray;
  text-decoration: none;
}
a.delete-icon {
  color: red;
}
.budget-feedback,
.expense-feedback {
  display: none;
}
.showItem {
  display: block;
}
