:root {
  --mainWhite: #f5f5f5f5;
  --mainDark: #333333;
  --mainGreen: #317b22;
  --mainRed: #b80c09;
  --mainBlue: #05668d;
}
.content-form-budget,
.content-form-expense {
  padding: 1em 2em;
  border: 1px solid;
  margin-bottom: 2em;
  border-radius: 20px;
}
.content-form-budget {
  border-color: green;
}
.content-form-expense {
  border-color: var(--mainRed);
}
.budget-icon {
  font-size: 54px;
  color: #090998;
}
h4.expense {
  color: var(--mainRed);
}
.box-numbers h4 {
  font-size: 35px;
  font-weight: 400;
}
.box-numbers {
  text-align: center;
  color: #6b6868;
}
.expense-icons a {
  color: gray;
  text-decoration: none;
}
a.delete-icon {
  color: var(--mainRed);
}
.budget-feedback,
.expense-feedback {
  display: none;
}
.showItem {
  display: block;
}

.showRed {
  color: var(--mainRed);
}
.showGreen {
  color: var(--mainGreen);
}
.showBlack {
  color: var(--mainDark);
}
